*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {font-size: 62.5%;} /*1REM=10PX*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100&family=Montserrat:wght@100&display=swap');

@font-face {
    font-family: "firaSans";
    src: url(../assets/fonts/FiraSansExtraCondensed-Thin.ttf);
}

a{
    text-decoration: none;
    color:#212F3D;
    font-family: firaSans;
    transition: 0.6s;
    font-size: 1.5em;
}

a:hover{
    color:#E5E8E8;
}

ul{
    list-style: none;
}

/* GENERAL*/

body{
    background-color:#F5F5F5;
    overflow-x: hidden;
    }
h1 {
    font-size: 4rem;
}
h2 {
    font-size:2rem;
}

h3{
    font-size: 2rem;
}

p {
    font-family: firaSans;
    font-size: 2rem;
    }

section{
    font-family: firaSans;
    font-weight: bolder;
    text-align: center;
    color: #154360;
}

/*HEADER*/

header {
    background-color:#ABB2B9;
    top: 0em;
    width: 100%;
    position: sticky;
}

.tituloIrupe{
    color:#212F3D;
    font-family: firaSans;
    font-weight: bolder;
}

.logo{
    padding-top: 0.1rem;
    padding-right: 0.1rem;
    padding-bottom: 0.1rem;
}

.posicionLogo{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    column-gap: 2em;
}
header nav ul li{
    font-family: firaSans;
    font-weight: bold;
}

/*FOOTER*/

body footer {
    font-family: "firaSans";
    font-size: 1rem;
    background-color:#ABB2B9;
    height: 3rem;
    margin-top: 0rem;
}

.footerNav{
    color: #212F3D;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-end;
    height: 3rem;
}

.footer{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
}

.copyright{
    font-size: 1.5rem;
}

/*INDEX*/



.fondoMainIndex {
    background-image: url("../assets/img/fondoFloresCIeloc.jpg");
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh ;
    }


/*LAS FLORES*/

.video{
    margin: 0.2em;
}

.tituloLasFlores{
    text-align: center;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #E8DAEF ;
}
    

.seccionUnoLasFlores{
    display:flex;
    justify-content:center;
    align-items: center;
}

.sectionDosLasFlores{
    background-color: #E8DAEF;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.parrafoLasFlores{
    font-size: 1.8rem;
}

.tituloSectionTresLasFlores{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #F5B7B1;
}

.listadoFlores{
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: left;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.margenListado{
    margin: 1rem;
    line-height: 2.5rem;
    transition: all 1s;
}

.margenListado:hover{
    font-size: 2.3rem;
    background-color: #FADBD8 ;
}

/*FORMULAS*/


.tituloFormulas{
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 3.5rem;
    background-color: #E8DAEF ;
}

.divFormulas{
    display:flex;
    justify-content: center;
    align-content: center;
}

section div div p{
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
}

@keyframes tituloFormulas{
    0%{transform: scale(1,1);}
    50%{transform: scale(1.1,1.1);}
    100%{transform: scale(1,1);}
}

.subtituloFormulas{
    background-color: #E8DAEF ;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    animation-name: tituloFormulas;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.sectionDosFormulas{
    display:grid;
    justify-content:center;
    align-items: center;
    margin-bottom: 2rem;
}

.tituloTimidez{
    grid-area: tituloTimidez;
    background-color: #A3E4D7;
}

.tituloAnsiedad{
    grid-area:tituloAnsiedad;
    background-color: #F9E79F;
}

.imagenAnsiedad{
    grid-area: imagenAnsiedad;
}

.textoAnsiedad{
    grid-area: textoAnsiedad;
}

.imagenTimidez{
    grid-area: imagenTimidez;
}

.textoTimidez{
    grid-area: textoTimidez;
}

.tituloInsomnio{
    grid-area: tituloInsomnio;
    background-color: #F5B7B1 ;
}

.tituloTristeza{
    grid-area: tituloTristeza;
    background-color: #D7BDE2
}

.textoInsomnio{
    grid-area: textoInsomnio;
}

.imagenInsomnio{
    grid-area:imagenInsomnio;
}

.textoTristeza{
    grid-area:textoTristeza;
}

.imagenTristeza{
    grid-area:imagenTristeza;
}

.tituloFrustracion{
    grid-area:tituloFrustracion;
    background-color: #A2D9CE ;
}

.tituloSeparacion{
    grid-area:tituloSeparacion;
    background-color: #EDBB99;
}

.textoFrustracion{
    grid-area:textoFrustracion;
}

.imagenFrustracion{
    grid-area:imagenFrustracion;
}

.textoSeparacion{
    grid-area:textoSeparacion;
}

.imagenSeparacion{
    grid-area:imagenSeparacion;
}

.tituloAprendizaje{
    grid-area:tituloAprendizaje;
    background-color: #7FB3D5;
}

.tituloMudanza{
    grid-area:tituloMudanza;
    background-color: #52BE80;
}

.textoAprendizaje{
    grid-area:textoAprendizaje;
}

.imagenAprendizaje{
    grid-area:imagenAprendizaje;
}

.textoMudanza{
    grid-area:textoMudanza;
}

.imagenMudanza{
    grid-area:imagenMudanza;
}

.tituloMSoledad{
    grid-area:tituloMSoledad;
    background-color: #DC7633;
}

.tituloMFracaso{
    grid-area:tituloMFracaso;
    background-color: #AAB7B8;
}

.imagenMSoledad{
    grid-area:imagenMSoledad;
}

.textoMSoledad{
    grid-area:textoMSoledad;
}

.textoMFracaso{
    grid-area: textoMFracaso;
}

.imagenMFracaso{
    grid-area:imagenMFracaso;
}

.tituloPesadillas{
    grid-area: tituloPesadillas;
    background-color: #F1948A;
}

.tituloEstres{
    grid-area: tituloEstres;
    background-color: #F7DC6F;
}

.textoPesadillas{
    grid-area:textoPesadillas;
}

.imagenPesadillas{
    grid-area:imagenPesadillas;
}

.textoEstres{
    grid-area: textoEstres;
}

.imagenEstres{
    grid-area: imagenEstres;
}

/*FAQ*/

/*
.centrado{
    text-align: center;
}*/

.subtituloFaq{
    font-weight: bold;
}

.tituloFaq{
    background-color: #C5096C;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    /*grid-area: tituloFaq;*/
    color: #E5E8E8;
}

.marginCero{
    margin-bottom: 0;
}

.divFaq{
    background-color: #F4ECF7;
    display:grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.fotoFaq{
    grid-area: fotoFaq;
    height: 100%;
    width: 100%;
}

.fotoFaqDos{
    grid-area: fotoFaqDos;
    height: 100%;
    width: 100%;
}
.pregUno{
    grid-area: pregUno;
}

.pregDos{
    grid-area: pregDos;
}

.pregTres{
    grid-area: pregTres;
}

.pregCuatro{
    grid-area: pregCuatro;
}

.pregCinco{
    grid-area: pregCinco;
}

.pregSeis{
    grid-area: pregSeis;
}

.pregSiete{
    grid-area: pregSiete;
}

.pregOcho{
    grid-area: pregOcho;
}

.pregNueve{
    grid-area: pregNueve;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #C5096C;
    color: #E5E8E8;
}

/*CONTACTO*/

.tituloContacto{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #E8DAEF ;
}

main section article iframe{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ordenContacto{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.formulario {
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #E8DAEF ;
}

.datosForm{
    text-align: left;
    font-size: 1.2em;
}

.margenh3{
    margin-bottom: 2rem;
    text-align: center ;
}

.redes{
    text-align: center;
}

.subtituloContacto{
    margin-bottom: 3rem;
    margin-top: 2rem;
    background-color: #E8DAEF ;
    animation-name: tituloFormulas;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 576px) {

/*GENERAL*/

    p {
        text-align: center;
        padding-left: 0em;
    }
/*HEADER*/
    header nav ul li{
        margin-left: 0.2em;
    }

    .logo{
        padding-left: 1rem;
    }

    header nav ul li{
        padding-right: 1rem;
    }

    .tituloIrupe{
        font-size: 1.5rem;
    }

/*FOOTER*/

    .footerNav{
        padding-right: 1rem; 
    }

    .copyright{
        padding-left: 1rem;
    }

    /*PAGINA LAS FLORES*/

    .seccionUnoLasFlores{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .fotosCelular{
        display: none;
    }

    .fotosCelularDos{
        display: none;
    }


/*PAGINA FORMULAS*/

    .section div article p{
        font-size: 0.2 rem;
    }

    .divFormulas{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    body main section div article a{
        color:#154360;
    }


    .sectionDosFormulas{
        grid-template-columns: 30rem;
        grid-template-rows: 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem;
        grid-template-areas: 
        "tituloTimidez"
        "imagenTimidez" 
        "textoTimidez" 
        "tituloAnsiedad"
        "imagenAnsiedad"
        "textoAnsiedad"
        "tituloInsomnio" 
        "imagenInsomnio"
        "textoInsomnio"
        "tituloTristeza"
        "imagenTristeza"
        "textoTristeza"
        "tituloFrustracion" 
        "imagenFrustracion" 
        "textoFrustracion"
        "tituloSeparacion"
        "imagenSeparacion"
        "textoSeparacion" 
        "tituloAprendizaje" 
        "imagenAprendizaje" 
        "textoAprendizaje" 
        "tituloMudanza"
        "imagenMudanza"
        "textoMudanza"
        "tituloMSoledad" 
        "imagenMSoledad"
        "textoMSoledad"  
        "tituloMFracaso"
        "imagenMFracaso"
        "textoMFracaso"
        "tituloPesadillas" 
        "imagenPesadillas"
        "textoPesadillas" 
        "tituloEstres"
        "imagenEstres"
        "textoEstres" ;
        justify-items: center;
    }

    .margin{
        margin-bottom: 1.5em;
    }

    /*FAQ*/

    /*.articleFaq{
        padding: 1rem;
        font-size: 10px;
        font-weight: bold;
    }*/

    .subtituloFaq{
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.5em;
    }

    .pFaq{
        font-size: 1.5em ;
        margin: 0.5em;
    }
/*
    .articleFaqT{
        /*padding: 1rem;
        font-size: 1em;
    }
*/

    .tituloFaq{
        font-size: 2em;
        padding-left: 6em;
        padding-right: 6em;
        font-weight: bold;
    }


    .divFaq{
        background-image: url(../assets/img/fondofloresfaq.jpg);
        padding: 0.5em;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 0.5fr);
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-areas:
        " pregUno "
        " pregDos "
        " pregTres"
        " pregCuatro"
        " pregCinco"
        " pregSeis"
        " pregSiete"
        " pregOcho";
    }

    .fotoFaq{
        display: none;
    }

    .fotoFaqDos{
        display: none;
    }

    /*CONTACTO*/

    .mapa{
        width: 80%;
    }

    .ordenContacto{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {

    /*GENERAL*/

    p {
        text-align: center;
        padding-left: 0.5em;
        }

    /*HEADER*/
    header nav ul li{
        margin-left: 0.2em;
        }
    
    .logo{
        padding-left: 1rem;
        }
    
    header nav ul li{
        padding-right: 1rem;
        }
/*
    a{
            font-size: 1em;
        }
*/
    .tituloIrupe{
            font-size: 1.5rem;
        }

    /*FOOTER*/

    .footerNav{
        padding-right: 1rem; 
    }

    .copyright{
        padding-left: 1rem;
    }

    /*LAS FLORES*/

    .seccionUnoLasFlores{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    
    .fotosCelularDos{
        display: none;
    }



    /*PAGINA FORMULAS*/

    .section div article p{
        font-size: 1rem;
    }

    .divFormulas{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    body main section div article a{
        color:#154360;
    }

    .sectionDosFormulas{
        grid-template-columns: 16rem 40rem;
        grid-template-rows: 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem;
        grid-template-areas: 
        "tituloTimidez tituloTimidez"
        "imagenTimidez textoTimidez" 
        "tituloAnsiedad tituloAnsiedad"
        "imagenAnsiedad textoAnsiedad "
        "tituloInsomnio tituloInsomnio" 
        "imagenInsomnio textoInsomnio"
        "tituloTristeza tituloTristeza"
        "imagenTristeza textoTristeza "
        "tituloFrustracion tituloFrustracion" 
        "imagenFrustracion textoFrustracion"
        "tituloSeparacion tituloSeparacion"
        "imagenSeparacion textoSeparacion"
        "tituloAprendizaje tituloAprendizaje" 
        "imagenAprendizaje textoAprendizaje" 
        "tituloMudanza tituloMudanza"
        "imagenMudanza textoMudanza"
        "tituloMSoledad tituloMSoledad" 
        "imagenMSoledad textoMSoledad"  
        "tituloMFracaso tituloMFracaso"
        "imagenMFracaso textoMFracaso"
        "tituloPesadillas tituloPesadillas" 
        "imagenPesadillas textoPesadillas" 
        "tituloEstres tituloEstres"
        "imagenEstres textoEstres";
    }
    
    /*FAQ*/

    .tituloFaq{
        font-size: 3rem;
        font-weight: bolder;
    }

    .subtituloFaq{
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.5em;
    }

    .pFaq{
        font-size: 1.5em ;
        margin: 0.5em;
    }

    .divFaq{
        background-image: url(../assets/img/fondofloresfaq.jpg);
        padding: 0.5em;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        align-items: center;
        grid-template-areas:
        " pregUno pregDos "
        " pregTres pregCuatro"
        " pregCinco pregSeis"
        " pregSiete pregOcho";
    }

    .fotoFaq{
        display: none;
    }

    .fotoFaqDos{
        display: none;
    }


    /*CONTACTO*/

    .ordenContacto{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    main section article iframe{
        width: 70%;
    }
}


@media screen and (min-width: 993px) {
    /*GENERAL*/

    p {
        text-align: center;
        padding-left: 0.5em;
        }

    /*HEADER*/
    /*header nav ul li{
        margin-left: 2em;
    }*/

    .logo{
        margin-left: 2rem;
    }

    header nav ul li{
        padding-right: 3rem;
    }

    .tituloIrupe{
        font-size: 2rem;
    }

    /*FOOTER*/

    .footerNav{
        padding-right: 3rem; 
    }

    .copyright{
        padding-left: 3rem;
    }

    /*PAGINA FLORES*/

    .seccionUnoLasFlores{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sectionDosLasFlores{
        padding-left: 6rem;
        padding-right: 6rem;
    }
    /*PAGINA FORMULAS*/

    body main section div div a{
        color:#F5F5F5;
    }
    
    body main section div div a:hover{
        color:#154360;
    }
    
    .sectionDosFormulas{
        grid-template-columns: 16rem 40rem 40rem 16rem;
        grid-template-rows: 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem;
        grid-template-areas: 
        "tituloTimidez tituloTimidez tituloAnsiedad tituloAnsiedad"
        "imagenTimidez textoTimidez  textoAnsiedad imagenAnsiedad"
        "tituloInsomnio tituloInsomnio tituloTristeza tituloTristeza"
        "imagenInsomnio textoInsomnio textoTristeza imagenTristeza"
        "tituloFrustracion tituloFrustracion tituloSeparacion tituloSeparacion"
        "imagenFrustracion textoFrustracion  textoSeparacion imagenSeparacion"
        "tituloAprendizaje tituloAprendizaje tituloMudanza tituloMudanza"
        "imagenAprendizaje textoAprendizaje textoMudanza imagenMudanza "
        "tituloMSoledad tituloMSoledad tituloMFracaso tituloMFracaso"
        "imagenMSoledad textoMSoledad  textoMFracaso imagenMFracaso"
        "tituloPesadillas tituloPesadillas tituloEstres tituloEstres"
        "imagenPesadillas textoPesadillas textoEstres imagenEstres";
    }

    .section div div p{
        font-size: 2rem;
    }
    .divFormulas{
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*FAQ*/

    .tituloFaq{
        font-size: 3rem;
        font-weight: bolder;
    }

    .divFaq{
        grid-template-columns:0.5fr 3fr 3fr 0.5fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        align-items: center;
        align-content: center;
        grid-template-areas:
        "fotoFaq pregUno pregDos fotoFaqDos"
        "fotoFaq pregTres pregCuatro fotoFaqDos"
        "fotoFaq pregCinco pregSeis fotoFaqDos"
        "fotoFaq pregSiete pregOcho fotoFaqDos";
    }

    .subtituloFaq{
        font-size: 2em;
    }

    .pFaq{
        font-size: 2em ;
    }

    /*CONTACTO*/

    .redes{
        margin-left: 5rem;
    }

    .mapa{
        margin-top: 1em;
    }

    .ordenContacto{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    main section article iframe{
        margin-left: 4rem;
    }

}

