@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@keyframes tituloFormulas {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.btn-light {
  background-color: #880E4F;
  border-color: #880E4F;
  color: #E8DAEF;
  font-size: 1.7em;
}

.btn-primary {
  background-color: #880E4F;
  border-color: #880E4F;
}

.btn-flores {
  color: #212F3D;
  font-size: 1.7em;
}

.btn-formula {
  color: #F5F5F5;
}

header {
  background-color: rgba(171, 178, 185, 0.5294117647);
  top: 0em;
  width: 100%;
  position: sticky;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #212F3D;
  font-size: 1.5em;
}
header a {
  text-decoration: none;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #212F3D;
  font-size: 1.5em;
}

.tituloLogo {
  font-family: "Amatic SC";
  color: #212F3D;
  font-size: 2.8rem;
}

.fondoMainIndex {
  background-image: url("../assets/img/fondoFloresCIeloc.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
  color: #880E4F;
  font-family: "Amatic SC";
}
.fondoMainIndex div h1 {
  font-size: 4em;
  text-align: center;
}
.fondoMainIndex div h2 {
  font-size: 3em;
  text-align: center;
  padding-bottom: 0.5em;
}
.fondoMainIndex div p a {
  font-size: 1em;
  padding-left: 4.5em;
}

body {
  overflow-x: hidden;
}

section {
  background-color: #F5F5F5;
  font-style: "Fira Sans Condensed", sans-serif;
  color: #212F3D;
}

.fondoLasFlores {
  background-image: url("../assets/img/cosmos-flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
}
.fondoLasFlores div {
  padding-top: 5em;
  padding-left: 8em;
}
.fondoLasFlores div h2 {
  font-size: 5em;
  margin: 0;
  text-align: left;
  font-family: "Amatic SC";
}
.fondoLasFlores div p {
  padding-top: 0.5em;
  padding-left: 6em;
  padding-right: 0;
}

.seccionUnoLasFlores {
  background-color: rgba(241, 189, 220, 0.4431372549);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.seccionUnoLasFlores div iframe {
  margin-top: 0.4em;
}

.floresAcuarelaTres {
  height: 2vh;
  background-color: #880E4F;
}

.sectionDosLasFlores {
  background-color: #E8DAEF;
}
.sectionDosLasFlores p {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sectionTresLasFlores {
  background-color: rgba(241, 189, 220, 0.4431372549);
}
.sectionTresLasFlores h2 {
  color: #F5F5F5;
  margin-bottom: 1rem;
  background-color: #880E4F;
  text-align: center;
}
.sectionTresLasFlores div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sectionTresLasFlores div ul {
  list-style: none;
  margin: 1em;
  line-height: 2.5rem;
  text-align: center;
  transition: all 1s;
}
.sectionTresLasFlores div ul:hover {
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #880E4F;
  color: #FADBD8;
}

.fondoFormulas {
  background-image: url("../assets/img/oregano-essential.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.fondoFormulas h2 {
  font-family: "Amatic SC";
  color: #F5F5F5;
  font-size: 4em;
  padding-top: 2em;
  padding-left: 2em;
}
.fondoFormulas a {
  padding-left: 15em;
}

.divFormulas {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-content: center;
}
.divFormulas div p {
  margin: 0;
  text-align: center;
}
.divFormulas div a {
  text-decoration: none;
}

.subtituloFormulas {
  background-color: #E8DAEF;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  animation-name: tituloFormulas;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.sectionDosFormulas {
  padding-top: 3em;
  padding-bottom: 2em;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.sectionDosFormulas h2 {
  margin: 0;
  text-align: center;
}
.sectionDosFormulas p {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-left: 1.5em;
  font-weight: light;
  font-size: 1.5rem;
}

.tituloTimidez {
  grid-area: tituloTimidez;
  background-color: #A3E4D7;
}

.tituloAnsiedad {
  grid-area: tituloAnsiedad;
  background-color: #F9E79F;
}

.imagenAnsiedad {
  grid-area: imagenAnsiedad;
}

.textoAnsiedad {
  grid-area: textoAnsiedad;
}

.imagenTimidez {
  grid-area: imagenTimidez;
}

.textoTimidez {
  grid-area: textoTimidez;
}

.tituloInsomnio {
  grid-area: tituloInsomnio;
  background-color: #F5B7B1;
}

.tituloTristeza {
  grid-area: tituloTristeza;
  background-color: #D7BDE2;
}

.textoInsomnio {
  grid-area: textoInsomnio;
}

.imagenInsomnio {
  grid-area: imagenInsomnio;
}

.textoTristeza {
  grid-area: textoTristeza;
}

.imagenTristeza {
  grid-area: imagenTristeza;
}

.tituloFrustracion {
  grid-area: tituloFrustracion;
  background-color: #A2D9CE;
}

.tituloSeparacion {
  grid-area: tituloSeparacion;
  background-color: #EDBB99;
}

.textoFrustracion {
  grid-area: textoFrustracion;
}

.imagenFrustracion {
  grid-area: imagenFrustracion;
}

.textoSeparacion {
  grid-area: textoSeparacion;
}

.imagenSeparacion {
  grid-area: imagenSeparacion;
}

.tituloAprendizaje {
  grid-area: tituloAprendizaje;
  background-color: #7FB3D5;
}

.tituloMudanza {
  grid-area: tituloMudanza;
  background-color: #52BE80;
}

.textoAprendizaje {
  grid-area: textoAprendizaje;
}

.imagenAprendizaje {
  grid-area: imagenAprendizaje;
}

.textoMudanza {
  grid-area: textoMudanza;
}

.imagenMudanza {
  grid-area: imagenMudanza;
}

.tituloMSoledad {
  grid-area: tituloMSoledad;
  background-color: #DC7633;
}

.tituloMFracaso {
  grid-area: tituloMFracaso;
  background-color: #AAB7B8;
}

.imagenMSoledad {
  grid-area: imagenMSoledad;
}

.textoMSoledad {
  grid-area: textoMSoledad;
}

.textoMFracaso {
  grid-area: textoMFracaso;
}

.imagenMFracaso {
  grid-area: imagenMFracaso;
}

.tituloPesadillas {
  grid-area: tituloPesadillas;
  background-color: #F1948A;
}

.tituloEstres {
  grid-area: tituloEstres;
  background-color: #F7DC6F;
}

.textoPesadillas {
  grid-area: textoPesadillas;
}

.imagenPesadillas {
  grid-area: imagenPesadillas;
}

.textoEstres {
  grid-area: textoEstres;
}

.imagenEstres {
  grid-area: imagenEstres;
}

.dudas {
  background-color: #880E4F;
  color: #F5F5F5;
  font-family: "Amatic SC";
}
.dudas h2 {
  font-size: 5em;
  text-align: center;
}
.dudas p {
  font-size: 3em;
  text-align: center;
}

.dudasDos h2 {
  background-color: #880E4F;
  color: #F5F5F5;
  font-family: "Amatic SC";
  font-size: 5em;
  text-align: center;
}
.dudasDos h3 {
  background-color: #E8DAEF;
  color: #212F3D;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  text-align: center;
}

.divSupFaq {
  background-color: #cb70a1;
}

.divisionFaq {
  background-color: #880E4F;
  height: 2vh;
}

.divFaq {
  background-color: #F4ECF7;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.divFaq div h3 {
  text-align: center;
}
.divFaq div p {
  text-align: center;
}

.fotoFaq {
  grid-area: fotoFaq;
  height: 100%;
  width: 100%;
}

.fotoFaqDos {
  grid-area: fotoFaqDos;
  height: 100%;
  width: 100%;
}

.pregUno {
  grid-area: pregUno;
  background-color: #A3E4D7;
}

.pregDos {
  grid-area: pregDos;
  background-color: #FC9C6C;
}

.pregTres {
  grid-area: pregTres;
  background-color: #F9E79F;
}

.pregCuatro {
  grid-area: pregCuatro;
  background-color: #D7BDE2;
}

.pregCinco {
  grid-area: pregCinco;
  background-color: #A2D9CE;
}

.pregSeis {
  grid-area: pregSeis;
  background-color: #EDBB99;
}

.pregSiete {
  grid-area: pregSiete;
  background-color: #7FB3D5;
}

.pregOcho {
  grid-area: pregOcho;
  background-color: #F9E79F;
}

.pregNueve {
  grid-area: pregNueve;
  background-color: #E8DAEF;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.imagenBariloche {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url(../assets/img/_MG_2527.jpg);
}

.ordenContacto {
  background-color: #E8DAEF;
  padding-bottom: 3em;
}
.ordenContacto div iframe {
  width: 100%;
  margin-bottom: 2em;
}
.ordenContacto h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #212F3D;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
}

.formulario {
  padding: 0rem;
}
.formulario form div {
  text-align: left;
  font-size: 1.2em;
}

.redes {
  text-align: center;
  font-style: "Fira Sans Condensed", sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

.subtituloContacto {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.5em;
  text-align: center;
  background-color: #E8DAEF;
  animation-name: tituloFormulas;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

footer {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.5em;
  background-color: #ABB2B9;
  color: #212F3D;
  height: 5rem;
  margin-top: 0rem;
}
footer p {
  margin-bottom: 0;
  padding-top: 1em;
}
footer nav {
  position: fixed;
  bottom: 4em;
  left: 1em;
  background-color: #E8DAEF;
  border-radius: 1em;
}

@media screen and (max-width: 576px) {
  .tituloConfiguracion {
    text-align: center;
    font-size: 2rem;
    background-color: #E8DAEF;
  }
  /*FOOTER*/
  .bariloche {
    display: none;
  }
  /*MAIN*/
  .fondoMainIndex div {
    position: fixed;
    top: 10em;
    left: 10em;
  }
  /*PAGINA LAS FLORES*/
  .seccionUnoLasFlores {
    padding: 0;
  }
  .fotosCelular {
    display: none;
  }
  .fotosCelularDos {
    display: none;
  }
  .sectionDosLasFlores p {
    font-size: 1.2em;
  }
  .floresAcuarelaDos {
    height: 9vh;
  }
  .sectionTresLasFlores h2 {
    font-size: 1.5rem;
  }
  .sectionTresLasFlores div {
    font-size: 1.2rem;
  }
  /*PAGINA FORMULAS*/
  .fondoFormulas {
    background-position: center;
  }
  .divFormulas {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
  }
  .divFormulas div a {
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
    color: #212F3D;
  }
  .sectionDosFormulas {
    grid-template-columns: 30rem;
    grid-template-rows: 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem;
    grid-template-areas: "tituloTimidez" "imagenTimidez" "textoTimidez" "tituloAnsiedad" "imagenAnsiedad" "textoAnsiedad" "tituloInsomnio" "imagenInsomnio" "textoInsomnio" "tituloTristeza" "imagenTristeza" "textoTristeza" "tituloFrustracion" "imagenFrustracion" "textoFrustracion" "tituloSeparacion" "imagenSeparacion" "textoSeparacion" "tituloAprendizaje" "imagenAprendizaje" "textoAprendizaje" "tituloMudanza" "imagenMudanza" "textoMudanza" "tituloMSoledad" "imagenMSoledad" "textoMSoledad" "tituloMFracaso" "imagenMFracaso" "textoMFracaso" "tituloPesadillas" "imagenPesadillas" "textoPesadillas" "tituloEstres" "imagenEstres" "textoEstres";
    justify-items: center;
  }
  .subtituloFormulas {
    font-size: 1.5rem;
  }
  /*FAQ*/
  .tituloFaq {
    font-size: 2em;
    padding-left: 6em;
    padding-right: 6em;
  }
  .divSupFaq {
    height: 6vh;
  }
  .dudas {
    padding-top: 14em;
    height: 60vh;
  }
  .dudasDos h2 {
    height: 20vh;
    padding-top: 1em;
  }
  .dudasDos h3 {
    padding-top: 1em;
    height: 10vh;
  }
  .divFaq {
    padding: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 0.5fr);
    grid-template-areas: " pregUno " " pregDos " " pregTres" " pregCuatro" " pregCinco" " pregSeis" " pregSiete" " pregOcho";
  }
  .divFaq div h3 {
    font-size: 1.5em;
    margin: 0.5em;
  }
  .divFaq div p {
    font-size: 1.5em;
    margin: 0.5em;
  }
  .fotoFaq {
    display: none;
  }
  .fotoFaqDos {
    display: none;
  }
  .pregUno {
    margin: 1em;
  }
  .pregDos {
    margin: 1em;
  }
  .pregTres {
    margin: 1em;
  }
  .pregCuatro {
    margin: 1em;
  }
  .pregCinco {
    margin: 1em;
  }
  .pregSeis {
    margin: 1em;
  }
  .pregSiete {
    margin: 1em;
  }
  .pregOcho {
    margin: 1em;
  }
  .pregNueve {
    font-size: 1.2em;
    margin: 0.5em;
  }
  /*CONTACTO*/
  .formulario {
    margin-left: 0 rem;
  }
  .formulario div div img {
    display: none;
  }
  .subtituloContacto {
    font-size: 1.3em;
  }
  .redes {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .tituloConfiguracion {
    text-align: center;
    font-size: 3rem;
    background-color: #E8DAEF;
  }
  /*MAIN*/
  .fondoMainIndex div {
    position: fixed;
    top: 14em;
    left: 20em;
  }
  /*LAS FLORES*/
  .fotosCelularDos {
    display: none;
  }
  .sectionDosLasFlores p {
    font-size: 1.5em;
  }
  .floresAcuarelaDos {
    height: 12vh;
  }
  .sectionTresLasFlores h2 {
    font-size: 2rem;
  }
  .sectionTresLasFlores div {
    font-size: 1.3rem;
  }
  /*PAGINA FORMULAS*/
  .fondoFormulas {
    background-position: center;
  }
  .divFormulas {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
  }
  .divFormulas div a {
    font-size: 1.8rem;
    text-align: center;
    color: #212F3D;
  }
  .sectionDosFormulas {
    grid-template-columns: 16rem 40rem;
    grid-template-rows: 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem;
    grid-template-areas: "tituloTimidez tituloTimidez" "imagenTimidez textoTimidez" "tituloAnsiedad tituloAnsiedad" "imagenAnsiedad textoAnsiedad " "tituloInsomnio tituloInsomnio" "imagenInsomnio textoInsomnio" "tituloTristeza tituloTristeza" "imagenTristeza textoTristeza " "tituloFrustracion tituloFrustracion" "imagenFrustracion textoFrustracion" "tituloSeparacion tituloSeparacion" "imagenSeparacion textoSeparacion" "tituloAprendizaje tituloAprendizaje" "imagenAprendizaje textoAprendizaje" "tituloMudanza tituloMudanza" "imagenMudanza textoMudanza" "tituloMSoledad tituloMSoledad" "imagenMSoledad textoMSoledad" "tituloMFracaso tituloMFracaso" "imagenMFracaso textoMFracaso" "tituloPesadillas tituloPesadillas" "imagenPesadillas textoPesadillas" "tituloEstres tituloEstres" "imagenEstres textoEstres";
  }
  .subtituloFormulas {
    font-size: 2rem;
  }
  /*FAQ*/
  .dudas {
    padding-top: 14em;
    height: 40vh;
  }
  .dudasDos h2 {
    height: 20vh;
    padding-top: 1.5em;
  }
  .dudasDos h3 {
    padding-top: 0.8em;
    height: 5vh;
  }
  .divSupFaq {
    height: 3vh;
  }
  .divFaq {
    grid-template-columns: 0.2fr 3fr 3fr 0.2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: "fotoFaq pregUno pregDos fotoFaqDos" "fotoFaq pregTres pregCuatro fotoFaqDos" "fotoFaq pregCinco pregSeis fotoFaqDos" "fotoFaq pregSiete pregOcho fotoFaqDos";
  }
  .divFaq div h3 {
    font-size: 1.5em;
  }
  .divFaq div p {
    font-size: 1.5em;
  }
  .pregUno {
    margin: 1em;
  }
  .pregDos {
    margin: 1em;
  }
  .pregTres {
    margin: 1em;
  }
  .pregCuatro {
    margin: 1em;
  }
  .pregCinco {
    margin: 1em;
  }
  .pregSeis {
    margin: 1em;
  }
  .pregSiete {
    margin: 1em;
  }
  .pregOcho {
    margin: 1em;
  }
  .pregNueve {
    font-size: 1.5em;
  }
  /*CONTACTO*/
  .formulario {
    margin-left: 0rem;
  }
  .redes {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 993px) {
  .tituloConfiguracion {
    text-align: center;
    font-size: 3rem;
    background-color: #E8DAEF;
  }
  /*INDEX*/
  .fondoMainIndex div {
    position: fixed;
    top: 14em;
    left: 35em;
  }
  /*LAS FLORES*/
  .sectionDosLasFlores {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .sectionDosLasFlores p {
    font-size: 1.5rem;
  }
  .sectionTresLasFlores h2 {
    font-size: 2rem;
  }
  .sectionTresLasFlores div {
    font-size: 1.3rem;
  }
  /*FORMULAS*/
  .sectionDosFormulas {
    grid-template-columns: 16rem 40rem 40rem 16rem;
    grid-template-rows: 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem;
    grid-template-areas: "tituloTimidez tituloTimidez tituloAnsiedad tituloAnsiedad" "imagenTimidez textoTimidez  textoAnsiedad imagenAnsiedad" "tituloInsomnio tituloInsomnio tituloTristeza tituloTristeza" "imagenInsomnio textoInsomnio textoTristeza imagenTristeza" "tituloFrustracion tituloFrustracion tituloSeparacion tituloSeparacion" "imagenFrustracion textoFrustracion  textoSeparacion imagenSeparacion" "tituloAprendizaje tituloAprendizaje tituloMudanza tituloMudanza" "imagenAprendizaje textoAprendizaje textoMudanza imagenMudanza " "tituloMSoledad tituloMSoledad tituloMFracaso tituloMFracaso" "imagenMSoledad textoMSoledad  textoMFracaso imagenMFracaso" "tituloPesadillas tituloPesadillas tituloEstres tituloEstres" "imagenPesadillas textoPesadillas textoEstres imagenEstres";
  }
  .divFormulas {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .divFormulas div a {
    font-size: 1.8rem;
    color: #F5F5F5;
  }
  .divFormulas div :hover {
    color: #212F3D;
  }
  .subtituloFormulas {
    font-size: 2rem;
  }
  /*FAQ*/
  .divSupFaq {
    height: 8vh;
  }
  .tituloFaq {
    font-size: 2.5rem;
  }
  .dudas {
    padding-top: 9em;
    height: 60vh;
  }
  .dudasDos h2 {
    height: 30vh;
    padding-top: 1em;
  }
  .dudasDos h3 {
    padding-top: 1em;
    height: 10vh;
  }
  .divFaq {
    grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: "fotoFaq pregUno pregDos fotoFaqDos" "fotoFaq pregTres pregCuatro fotoFaqDos" "fotoFaq pregCinco pregSeis fotoFaqDos" "fotoFaq pregSiete pregOcho fotoFaqDos";
  }
  .divFaq div h3 {
    font-size: 1.8em;
  }
  .divFaq div p {
    font-size: 1.8em;
  }
  .pregUno {
    padding: 1em;
  }
  .pregDos {
    padding: 1em;
  }
  .pregTres {
    padding: 1em;
  }
  .pregCuatro {
    padding: 1em;
  }
  .pregCinco {
    padding: 1em;
  }
  .pregSeis {
    padding: 1em;
  }
  .pregSiete {
    padding: 1em;
  }
  .pregOcho {
    padding: 1em;
  }
  .pregNueve {
    font-size: 1.5em;
  }
  /*CONTACTO*/
  .redes {
    font-size: 1.8em;
  }
  .formulario {
    margin-left: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
