$background-principal: #F5F5F5;
$background-header: #abb2b987;
$background-secundario: #E8DAEF;
$fuente-principal: 'Fira Sans Condensed', sans-serif;  
$fuente-secundaria: 'Roboto', sans-serif;
$fuente-logo: 'Amatic SC';
$color-letra-principal:#212F3D; 
$color-division: #880E4F;
$tamano-letra-header: 1.5em;