footer{
    font-family: $fuente-principal ;
    font-size: $tamano-letra-header;
    background-color: $background-footer ;
    color: $color-letra-principal;
    height: 5rem;
    margin-top: 0rem;
    p{
        margin-bottom: 0;
        padding-top: 1em;
    }
    nav{
        position:fixed;
        bottom: 4em;
        left:1em;
        background-color: $background-secundario;
        border-radius: 1em;
    }
}