footer{
    font-family: $fuente-principal ;
    font-size: $tamano-letra-header;
    background-color: #ABB2B9 ;
    color: $color-letra-principal;
    height: 3rem;
    margin-top: 0rem;
    h3{
        margin-bottom: 0;
    }
}