.dudas{
    background-color:$color-division;
    color: $background-principal;
    font-family: $fuente-logo ;
    h2{
        font-size: 5em;
        text-align: center;
    }
    p{
        font-size: 3em;
        text-align: center;
    }
}

.dudasDos{
    h2{
        background-color:$color-division;
        color: $background-principal;
        font-family: $fuente-logo ;
        font-size: 5em;
        text-align: center;
    }
    h3{
        background-color:$background-secundario;
        color: $color-letra-principal;
        font-family: $fuente-principal ;
        font-size: 2em;
        text-align: center;
    }
}

.divSupFaq{
    background-color:  #cb70a1 ;
}

.divisionFaq{
    background-color: $color-division ;
    height: 2vh;
}

.divFaq{
    background-color: #F4ECF7;
    display:grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    div{
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}


.fotoFaq{
    grid-area: fotoFaq;
    height: 100%;
    width: 100%;
}

.fotoFaqDos{
    grid-area: fotoFaqDos;
    height: 100%;
    width: 100%;
}
.pregUno{
    grid-area: pregUno;
    background-color:  #A3E4D7 ;
}

.pregDos{
    grid-area: pregDos;
    background-color: #FC9C6C ;
}

.pregTres{
    grid-area: pregTres;
    background-color: #F9E79F;
}

.pregCuatro{
    grid-area: pregCuatro;
    background-color:  #D7BDE2;
}

.pregCinco{
    grid-area: pregCinco;
    background-color:  #A2D9CE;
}

.pregSeis{
    grid-area: pregSeis;
    background-color:  #EDBB99;
}

.pregSiete{
    grid-area: pregSiete;
    background-color:  #7FB3D5 ;
}

.pregOcho{
    grid-area: pregOcho;
    background-color: #F9E79F;
}

.pregNueve{
    grid-area: pregNueve;
    background-color: $background-secundario ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}