.fondoMainIndex {
    background-image: url("../assets/img/fondoFloresCIeloc.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh ;
    color:$color-division;
    font-family: $fuente-logo;
    div{
        h1{
            font-size: 4em;
            text-align: center;
            }
            h2{
                font-size: 3em;
                text-align: center;
                padding-bottom: 0.5em;
            }
            p a{
                font-size: 1em;
                padding-left: 4.5em;
            }
        }
}
