@media screen and (min-width: 993px) {

    .tituloConfiguracion{
        text-align: center;
        font-size: 3rem;
        background-color: $background-secundario;
    }

    /*INDEX*/

    .fondoMainIndex div{
        position: fixed;
        top: 14em;
        left: 35em;
    }

    /*LAS FLORES*/

    .sectionDosLasFlores{
        padding-left: 6rem;
        padding-right: 6rem;
        p{
            font-size: 1.5rem; 
        }
    }


    .sectionTresLasFlores{
        h2{
            font-size: 2rem;
        }
        div{
            font-size: 1.3rem;
        }
    }

    /*FORMULAS*/

    .sectionDosFormulas{
        grid-template-columns: 16rem 40rem 40rem 16rem;
        grid-template-rows: 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem;
        grid-template-areas: 
        "tituloTimidez tituloTimidez tituloAnsiedad tituloAnsiedad"
        "imagenTimidez textoTimidez  textoAnsiedad imagenAnsiedad"
        "tituloInsomnio tituloInsomnio tituloTristeza tituloTristeza"
        "imagenInsomnio textoInsomnio textoTristeza imagenTristeza"
        "tituloFrustracion tituloFrustracion tituloSeparacion tituloSeparacion"
        "imagenFrustracion textoFrustracion  textoSeparacion imagenSeparacion"
        "tituloAprendizaje tituloAprendizaje tituloMudanza tituloMudanza"
        "imagenAprendizaje textoAprendizaje textoMudanza imagenMudanza "
        "tituloMSoledad tituloMSoledad tituloMFracaso tituloMFracaso"
        "imagenMSoledad textoMSoledad  textoMFracaso imagenMFracaso"
        "tituloPesadillas tituloPesadillas tituloEstres tituloEstres"
        "imagenPesadillas textoPesadillas textoEstres imagenEstres";
    }

    .divFormulas{
        flex-direction: row;
        flex-wrap: wrap;
        div{
            a{
                font-size: 1.8rem;
                color:#F5F5F5;
            }
            :hover{
                color: #212F3D;
            }
            }
        }

        .subtituloFormulas{
            font-size: 2rem;
        }


    /*FAQ*/

    .divSupFaq{
        height: 8vh;
    }

    .tituloFaq{
        font-size: 2.5rem;
    }

    .dudas{
        padding-top: 9em;
        height: 60vh;
    }

    .dudasDos {
        h2{
        height: 30vh;
        padding-top: 1em;
    }
        h3{
            padding-top: 1em;
            height: 10vh;
        }

    }

    .divFaq{
        grid-template-columns:0.5fr 3fr 3fr 0.5fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        grid-template-areas:
        "fotoFaq pregUno pregDos fotoFaqDos"
        "fotoFaq pregTres pregCuatro fotoFaqDos"
        "fotoFaq pregCinco pregSeis fotoFaqDos"
        "fotoFaq pregSiete pregOcho fotoFaqDos";
        div {
                h3 {
                    font-size: 1.8em;
                }
                p {
                    font-size: 1.8em;
                }
            }
    }

    .pregUno{
        padding: 1em;
    }

    .pregDos{
        padding:1em;
    }

    .pregTres{
        padding:1em;
    }

    .pregCuatro{
        padding:1em;
    }

    .pregCinco{
        padding:1em;
    }

    .pregSeis{
        padding:1em;
    }

    .pregSiete{
        padding:1em;
    }

    .pregOcho{
        padding:1em;
    }

    .pregNueve{
        font-size: 1.5em;
    }

    /*CONTACTO*/

    .redes{
        font-size: 1.8em;
    }

    .formulario {
        margin-left: 2rem;
    }


}