@media screen and (max-width: 576px) {

    .tituloConfiguracion{
        text-align: center;
        font-size: 2rem;
        background-color: $background-secundario;
    }

    /*FOOTER*/

    .bariloche{
        display:none;
    }

    /*INDEX*/

    .fondoMainIndex div{
        padding-left: 10em;
    }

    /*PAGINA LAS FLORES*/

    .seccionUnoLasFlores{
        padding: 0;
    }

    .fotosCelular{
        display: none;
    }

    .fotosCelularDos{
        display: none;
    }

    .sectionDosLasFlores p{
        font-size: 1.2em ;
    }

    .floresAcuarelaDos{
        height: 9vh;
    }

    .sectionTresLasFlores{
        h2{
            font-size: 1.5rem;
        }
        div{
            font-size: 1.2rem;
        }
    }

/*PAGINA FORMULAS*/

    .fondoFormulas{
        background-position: center;
    }

    .divFormulas{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-items: center;
        div a{
            margin: 0;
            font-size: 1.8rem;
            text-align: center;
            color: $color-letra-principal;
        }
    }

    .sectionDosFormulas{
        grid-template-columns: 30rem;
        grid-template-rows: 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem 5rem 14rem 14rem;
        grid-template-areas: 
        "tituloTimidez"
        "imagenTimidez" 
        "textoTimidez" 
        "tituloAnsiedad"
        "imagenAnsiedad"
        "textoAnsiedad"
        "tituloInsomnio" 
        "imagenInsomnio"
        "textoInsomnio"
        "tituloTristeza"
        "imagenTristeza"
        "textoTristeza"
        "tituloFrustracion" 
        "imagenFrustracion" 
        "textoFrustracion"
        "tituloSeparacion"
        "imagenSeparacion"
        "textoSeparacion" 
        "tituloAprendizaje" 
        "imagenAprendizaje" 
        "textoAprendizaje" 
        "tituloMudanza"
        "imagenMudanza"
        "textoMudanza"
        "tituloMSoledad" 
        "imagenMSoledad"
        "textoMSoledad"  
        "tituloMFracaso"
        "imagenMFracaso"
        "textoMFracaso"
        "tituloPesadillas" 
        "imagenPesadillas"
        "textoPesadillas" 
        "tituloEstres"
        "imagenEstres"
        "textoEstres" ;
        justify-items: center;
    }

    .subtituloFormulas{
        font-size: 1.5rem;
    }

/*FAQ*/

    .tituloFaq{
        font-size: 2em;
        padding-left: 6em;
        padding-right: 6em;
    }

    .divSupFaq{
    height: 6vh;
    }

    .dudas{
        padding-top: 14em;
        height: 60vh;
    }

    .dudasDos {
        h2{
            height: 20vh;        
            padding-top: 0.9em;
        }
        h3{
            padding-top: 0.5em;
            height: 10vh;
        }
    }


    .divFaq{
            padding: 0.5em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 0.5fr);
            grid-template-areas:
            " pregUno "
            " pregDos "
            " pregTres"
            " pregCuatro"
            " pregCinco"
            " pregSeis"
            " pregSiete"
            " pregOcho";
            div {
                h3{
                    font-size: 1.5em;
                    margin: 0.5em;
                }
                p{
                    font-size: 1.5em ;
                    margin: 0.5em;
                }
            }
        }

    .fotoFaq{
        display: none;
    }

    .fotoFaqDos{
        display: none;
    }

    .pregUno{
        margin:1em;
    }
    
    .pregDos{
        margin:1em;
    }
    
    .pregTres{
        margin:1em;
    }
    
    .pregCuatro{
        margin:1em;
    }
    
    .pregCinco{
        margin:1em;
    }
    
    .pregSeis{
        margin:1em;
    }
    
    .pregSiete{
        margin:1em;
    }
    
    .pregOcho{
        margin:1em;
    }

    .pregNueve{
        font-size: 1.2em;
        margin: 0.5em;
    }

    /*CONTACTO*/

    .colMobile{
        display: none;
    }

    .formulario {
        margin-left: 0 rem;
        div div img{
            display:none;
        }
    }

    .subtituloContacto{
        font-size: 1.3em;
    }

    .redes{
        font-size: 1.5em;
    }

    .ordenContacto div iframe{
        width:100%;
    }

    .nevandouno{
        display: none;
    }

    .nevandodos{
        display:none
    }

}