@media screen and (min-width: 577px) and (max-width: 992px) {

    .tituloConfiguracion{
        text-align: center;
        font-size: 3rem;
        background-color: $background-secundario;
    }

    /*MAIN*/

    .fondoMainIndex div{
        position: fixed;
        top: 14em;
        left: 20em;
    }

    /*LAS FLORES*/

    .fotosCelularDos{
        display: none;
    }

    .sectionDosLasFlores p{
        font-size: 1.5em ;
    }

    .floresAcuarelaDos{
        height: 12vh;
    }

    .sectionTresLasFlores{
        h2{
            font-size: 2rem;
        }
        div{
            font-size: 1.3rem;
        }
    }

    /*PAGINA FORMULAS*/

    .fondoFormulas{
        background-position: center;
    }

    .divFormulas{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-items: center;
        div a{
            font-size: 1.8rem;
            text-align: center;
            color: $color-letra-principal
        }
    }

    .sectionDosFormulas{
        grid-template-columns: 16rem 40rem;
        grid-template-rows: 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem 5rem 14rem;
        grid-template-areas: 
        "tituloTimidez tituloTimidez"
        "imagenTimidez textoTimidez" 
        "tituloAnsiedad tituloAnsiedad"
        "imagenAnsiedad textoAnsiedad "
        "tituloInsomnio tituloInsomnio" 
        "imagenInsomnio textoInsomnio"
        "tituloTristeza tituloTristeza"
        "imagenTristeza textoTristeza "
        "tituloFrustracion tituloFrustracion" 
        "imagenFrustracion textoFrustracion"
        "tituloSeparacion tituloSeparacion"
        "imagenSeparacion textoSeparacion"
        "tituloAprendizaje tituloAprendizaje" 
        "imagenAprendizaje textoAprendizaje" 
        "tituloMudanza tituloMudanza"
        "imagenMudanza textoMudanza"
        "tituloMSoledad tituloMSoledad" 
        "imagenMSoledad textoMSoledad"  
        "tituloMFracaso tituloMFracaso"
        "imagenMFracaso textoMFracaso"
        "tituloPesadillas tituloPesadillas" 
        "imagenPesadillas textoPesadillas" 
        "tituloEstres tituloEstres"
        "imagenEstres textoEstres";
    }

    .subtituloFormulas{
        font-size: 2rem;
    }

    /*FAQ*/

    .dudas{
        padding-top: 14em;
        height: 40vh;
    }
    
    .dudasDos{
    h2{
        height: 20vh;
        padding-top: 1.5em;
    }
    h3{
        padding-top: 0.8em;
        height: 5vh;
    }
}

    .divSupFaq{
        height: 3vh;
    }
    
    .divFaq{
        grid-template-columns: 0.2fr 3fr 3fr 0.2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        grid-template-areas:
        "fotoFaq pregUno pregDos fotoFaqDos"
        "fotoFaq pregTres pregCuatro fotoFaqDos"
        "fotoFaq pregCinco pregSeis fotoFaqDos"
        "fotoFaq pregSiete pregOcho fotoFaqDos";
        div {
            h3{
                font-size: 1.5em;
            }
            p{
                font-size: 1.5em ;
            }
        }
    }

    .pregUno{
        margin:1em;
    }
    
    .pregDos{
        margin:1em;
    }
    
    .pregTres{
        margin:1em;
    }
    
    .pregCuatro{
        margin:1em;
    }
    
    .pregCinco{
        margin:1em;
    }
    
    .pregSeis{
        margin:1em;
    }
    
    .pregSiete{
        margin:1em;
    }
    
    .pregOcho{
        margin:1em;
    }
    
    .pregNueve{
        font-size: 1.5em;
    }

    /*CONTACTO*/

    .formulario {
        margin-left: 0rem;
    }

    .redes{
        font-size: 1.8em;
    }


}